<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="key" value="Eyo4PLQQ4IpVIz6pO6+WkXGNwmbBOy6WUnnG7EsK+KruMH4heQJz3GuSonOYdWLec0NVWgjdR8B1MhxwMZ3ujlClzr7IAQetCuXYxlEUrgzo/or2pbQLYYEHszWIiAOL"/>
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=posk;user id=sa;password=open;Persist Security Info=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Geeky.POSK.Services.SystemService">
        <endpoint address="net.tcp://localhost:9090/Ping" binding="netTcpBinding" contract="Geeky.POSK.ServiceContracts.IPingService">
        </endpoint>
      </service>
      <service name="Geeky.POSK.Services.ProductService">
        <endpoint bindingConfiguration="transactionBinding" address="net.tcp://localhost:9090/Products" binding="netTcpBinding" contract="Geeky.POSK.ServiceContracts.IProductService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="false" maxReceivedMessageSize="10485760">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="transactionBinding" transactionFlow="true" maxReceivedMessageSize="10485760">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.2.0" newVersion="6.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>