<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\sql19;Initial Catalog=posk_client1;user id=sa;password=dev@1234;Persist Security Info=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=posk_client;user id=sa;password=Abcd@1234;Persist Security Info=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="terminal_id" value="ee2c0340-d43d-4097-a7b8-ea38fc4a01bb" />
    <add key="ServiceKey" value="Abcd@1234" />
    <add key="ReceiptPrinter" value="CUSTOM TG2480-H" />
    <add key="CashCode_COM" value="COM6" />
    <add key="lockdown" value="false" />
    <add key="simulated" value="true" />
    <add key="debug" value="false" />
    <add key="custom_ceiling" value="true" />
 </appSettings>
  <system.serviceModel>
    <client>
      <!-- --> <endpoint address="net.tcp://localhost:9090/Ping" binding="netTcpBinding" contract="Geeky.POSK.ServiceContracts.IPingService"></endpoint>
      <endpoint bindingConfiguration="transactionBinding" address="net.tcp://localhost:9090/Products" binding="netTcpBinding" contract="Geeky.POSK.ServiceContracts.IProductService"></endpoint>

     <!--
      <endpoint address="net.tcp://172.30.1.73:9090/Ping" binding="netTcpBinding" contract="Geeky.POSK.ServiceContracts.IPingService">
      </endpoint>
      <endpoint bindingConfiguration="transactionBinding" address="net.tcp://172.30.1.73:9090/Products" binding="netTcpBinding" contract="Geeky.POSK.ServiceContracts.IProductService">
      </endpoint>-->

      <!--<endpoint address="net.tcp://server:9090/Ping" binding="netTcpBinding" contract="Geeky.POSK.ServiceContracts.IPingService">
      </endpoint>
      <endpoint bindingConfiguration="transactionBinding" address="net.tcp://server:9090/Products" binding="netTcpBinding" contract="Geeky.POSK.ServiceContracts.IProductService">
      </endpoint>-->
    </client>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="false" maxReceivedMessageSize="10485760">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="transactionBinding" transactionFlow="true" maxReceivedMessageSize="10485760">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>        
      </netTcpBinding>
    </bindings>
 	<behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>